{% extends "layout.html" %}

{% block content %}
<h1>Hello Mars</h1>
<iframe width="350" align="right" height="200" src="//www.youtube.com/embed/f__qNnj65Ts" frameborder="0" allowfullscreen></iframe>
<br/>
<br />
<h2> A few facts about the red planet</h2>
<br />
<img src="http://mars.nasa.gov/images/mep/allaboutmars/extreme1.gif" width=" 300" />
<br />
<br />
<p>Mars is the fourth planet from the Sun and the second smallest planet in the Solar System, after Mercury. Named after the Roman god of war, it is often described as the "Red Planet" because the iron oxide prevalent on its surface gives it a reddish appearance. Mars is a terrestrial planet with a thin atmosphere, having surface features reminiscent both of the impact craters of the Moon and the volcanoes, valleys, deserts, and polar ice caps of Earth.</p>
<hr/>
<h3> About the Mars</h3>
<ul>
    <li><strong>Mass: </strong>641,850,000,000,000 billion kg</li>
    <li><strong>Diameter: </strong> 6792 kilo meters</li>
</ul>
<hr />
<h3>Top 3 facts about the Mars</h3>
<ol>
    <li>Of all the planets in the Solar System, the seasons of Mars are the most Earth-like, due to the similar tilts of the two planets' rotational axes</li>
    <li>In addition to observation from Earth, some of the latest Mars information comes from five active probes on or in orbit around Mars, including three orbiters and two rovers. </li>
    <li>The Phoenix lander returned data showing Martian soil to be slightly alkaline and containing elements such as magnesium, sodium, potassium and chlorine. These nutrients are found in gardens on Earth, and they are necessary for growth of plants.[53] Experiments performed by the Lander showed that the Martian soil has a basic pH of 8.3, and may contain traces of the salt perchlorate.</li>
</ol>

<hr />
<h3> Mars nearest neighbors. </h3>
<table>
 <tr>
     <th>Name</th>
     <th>Radius</th>
     <th>Average Temperature</th>
 </tr>
 <tr>
     <td>Earth</td>
     <td></td>
     <td></td>
 </tr>
    <tr>
        <td>Saturn</td>
        <td></td>
        <td></td>
    </tr>
</table>
<hr />
Want to know more ?
<form action="http://mars.nasa.gov/allaboutmars">
    <input type="submit" value="Click Here" />
</form>

{% endblock %}>