{% extends "layout.html" %}

{% block header %}
<style type="text/css">
   .redbox {
        background-color: #ff0000;
        width: 100px;
        height: 100px;
        float: left;
    }

    .bluebox {
        background-color: #3c59e8;
        width: 100px;
        height: 100px;
        float: left;
    }

    .greenbox {
        background-color: #00ff90;
        width: 100px;
        height: 100px;
        float: left;
    }
</style>
{% endblock %}


{% block content %}

<div>
    <h1>Learning CSS 02</h1>
    <div class="graybox">
        <p>
            This domain is established to be used for illustrative examples in documents. You may use this
            domain in examples without prior coordination or asking for permission.
        </p>
    </div>

    <div class="redbox">
        <p>
            Adding another paragraph to test margin properties
        </p>
    </div>

    <div class="bluebox">
        <p>
            Adding another paragraph to test margin properties
        </p>
    </div>

    <div class="greenbox">
        <p>
            Adding another paragraph to test margin properties
        </p>
    </div>
</div>

{% endblock %}